<%= form_with(model: estate, local: true) do |form| %>
  <% if estate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(estate.errors.count, "error") %> prohibited this estate from being saved:</h2>

      <ul>
      <% estate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :"物件名" %>
    <%= form.text_area :name %>
  </div>

  <div class="field">
    <%= form.label :"賃料" %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :"住所" %>
    <%= form.text_area :adress %>
  </div>

  <div class="field">
    <%= form.label :"築年数" %>
    <%= form.number_field :year %>
  </div>

  <div class="field">
    <%= form.label :"備考" %>
    <%= form.text_area :content %>
  </div>

  <hr>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
